# https://www.freedesktop.org/wiki/Specifications/desktop-entry-spec/
# SPDX-FileCopyrightText: 2019-2022 Badwolf Authors <https://hacktivis.me/projects/badwolf>
# SPDX-License-Identifier: BSD-3-Clause
[Desktop Entry]
Version=1.1
Type=Application
Categories=Network;WebBrowser
Comment=A minimalist and privacy-oriented web browser
Comment[fr]=Un navigateur web minimaliste et orienté vers le respect de la vie privée
Comment[tr]=Sadelik ve gizlilik odaklı web tarayıcısı
Exec=badwolf %U
GenericName=Web Browser
GenericName[fr]=Navigateur Web
GenericName[tr]=Web Tarayıcısı
Icon=badwolf
Keywords=Internet;WWW;Browser;Web;WebKit;WebKitGTK
Keywords[fr]=Internet;WWW;Browser;Web;Surfer;Navigateur;WebKit;WebKitGTK
Keywords[tr]=Internet;WWW;Browser;Web;WebKit;WebKitGTK;İnternet;Tarayıcı;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https
Name=Badwolf
